[package]
name = "frame-graph"
version = "0.1.0"
edition = "2024"


[dependencies]
wgpu = { version = "27", default-features = false, features = [
    "wgsl",
    "dx12",
    "metal",
    "vulkan",
    "naga-ir",
    "fragile-send-sync-non-atomic-wasm",
] }
